.navbar {
    display: flex;
    justify-content: center;
}

.navbar__body {
    padding: 20px;
    margin-top: 15px;
    width: 60%;
    background-color: #edede9;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.navbar__items {
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}

.navbar__item {
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

.navbar__item:hover {
    color: #161919;
}

@media (max-width: 1200px) {
    .navbar__items {
        width: 100%;
    }
}

@media (max-width: 820px) {
    .navbar__body {
        width: 90vw;
    }
}

@media (max-width: 415px) {
    .navbar__body {
        width: 85vw;
    }
}