.resultados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultados__body {
    border-style: solid;
    border-width: 4px;
    border-radius: 4px;
    width: 60%;
    border-color: #edede9;
}

.resultados__article:nth-last-child(1) {
    border-bottom-style: none;
}

.resultados__article {
    border-color: #edede9;
    border-width: 4px;
    margin-bottom: 15px;
    border-bottom-style: solid;
    padding-left: 15px;
    text-transform: capitalize;
}

.resultados__title {
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 3px;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 820px) {
    .resultados__body {
        width: 90%;
    }
}